/* Import the base styles */
@import "tailwindcss/base";

/* Import component styles (optional) */
@import "tailwindcss/components";

/* Import utility styles */
@import "tailwindcss/utilities";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
